<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.brunoloures.lmsapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LMSApp">
        <activity
            android:name=".Adicionar"
            android:exported="true" />
        <activity
            android:name=".Perfil"
            android:exported="true" />
        <activity
            android:name=".NovoPedido"
            android:exported="true" />
        <activity
            android:name=".Pedidos"
            android:exported="true" />
        <activity
            android:name=".Config"
            android:exported="true" />
        <activity
            android:name=".telaInicialActivity"
            android:theme="@style/AppTheme.Toolbar" />
        <activity android:name=".DebugActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>