<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.brunoloures.lmsapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name=".LMSApplication"
        android:allowBackup="true"
        android:icon="@drawable/leandro_prensados"
        android:label="@string/app_name"
        android:roundIcon="@drawable/leandro_prensados"
        android:supportsRtl="true"
        android:theme="@style/Theme.LMSApp">
        <activity
            android:name=".MapasActivity"
            android:exported="false" />
        <activity
            android:name=".DisciplinaActivity"
            android:exported="false" />
        <activity
            android:name=".Perfil"
            android:exported="true" />
        <activity
            android:name=".NovoPedido"
            android:exported="true" />
        <activity
            android:name=".Pedidos"
            android:exported="true" />
        <activity
            android:name=".Config"
            android:exported="true" />
        <activity
            android:name=".telaInicialActivity"
            android:theme="@style/AppTheme.Toolbar" />
        <activity android:name=".DebugActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/API_KEY" />
    </application>

</manifest>